<h1 class="px-4 py-8 pb-4 font-extralight text-3xl">Modulplaner</h1>
<div class="flex flex-col p-2 color-zinc-300">
    <a routerLink="plan" routerLinkActive="link-active" class="flex gap-4 hover:bg-zinc-700 link-active:bg-zinc-800/50 p-2 rounded-md">
        <lucide-icon name="grid-3x3" class="link-active:text-cyan-400" />
        Planung
    </a>
    <a routerLink="modules" routerLinkActive="link-active" class="flex gap-4 hover:bg-zinc-700 link-active:bg-zinc-800/50 p-2 rounded-md">
        <lucide-icon name="layout-list" class="link-active:text-cyan-400" />
        Module
    </a>
</div>
<p class="text-sm text-gray-500 justify-center p-4 icon-container">Made with <lucide-icon name="heart" size="12" strokeWidth="5" class="text-red-800" /> by Alex</p>