@import "tailwindcss";

@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(/fonts/caveat.woff2) format('woff2');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/outfit.woff2) format('woff2');
}

:root {
    @apply bg-zinc-950 text-zinc-100;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@layer base {
  .text-handwritten {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .icon-container {
    @apply flex items-center gap-2;
  }
}