<div class="p-8 overflow-x-hidden">
    <h1 class="text-3xl mb-4 font-bold">Planung</h1>
    <span class="flex items-center text-zinc-400">
        <label class="text-lg mr-4">Modulplan:</label>
        <select class="text-lg p-4 pl-0" [(ngModel)]="selectedDegreeProgram">
            <option value="I-VZ">Informatik VZ</option>
            <option value="I-TZ">Informatik TZ</option>
        </select>
    </span>
    <div class="w-full-container overflow-x-auto">
        <div class="grid grid-cols-11 gap-1 min-w-4xl" [style.gridTemplateRows]="`repeat(${selectedModulePlan().length}, 4rem)`">
            @for (semester of selectedModulePlan(); track $index; let semesterIndex = $index) {
            <div class="col-1 content-center whitespace-nowrap px-2">
                <p class="xl:hidden">{{selectedModulePlan().length - $index}}. Sem.</p>
                <p class="max-xl:hidden">{{selectedModulePlan().length - $index}}. Semester</p>
            </div>
            @for (module of asModules(semester); track $index; let moduleIndex = $index) {
            @if (module) {
            <button [class]="getModuleStyling(module)" class="text-sm rounded-lg content-center text-center cursor-pointer" [class.opacity-60]="isCredited(module)" [title]="module.name" (click)="selectModule(module, semesterIndex, moduleIndex)">
                <p [class.text-zinc-400]="isCredited(module)" [class.text-handwritten]="resolveModule(module, semesterIndex, moduleIndex).isPersonalized">{{resolveModule(module, semesterIndex, moduleIndex).code}}</p>
                @if (isCredited(module)) {
                <p class="text-zinc-100 text-handwritten text-2xs">Angerechnet</p>
                } @else if (isDone(module)) {
                <p class="text-zinc-100 text-handwritten text-2xs icon-container justify-center gap-0.5"><lucide-icon name="circle-check" size="12" /> Abgeschlossen</p>
                }
            </button>
            } @else {
            <div class="text-sm rounded-lg content-center text-center cursor-pointer bg-zinc-700">
                <p>{{semester[$index]}}</p>
                <i>Unknown</i>
            </div>
            }}}
        </div>
    </div>
    <div class="p-4 pt-2 rounded-lg mt-4 text-zinc-400 flex gap-6 items-center">
        <span class="flex items-center gap-2 text-sm">
            <span class="w-4 h-2 block rounded-full bg-cyan-700"></span>
            <p>Kern-Module</p>
        </span>
        <span class="flex items-center gap-2 text-sm">
            <span class="w-4 h-2 block rounded-full bg-orange-700"></span>
            <p>Projekt-Module</p>
        </span>
        <span class="flex items-center gap-2 text-sm">
            <span class="w-4 h-2 block rounded-full bg-green-700"></span>
            <p>Wahl-Module</p>
        </span>
        <span class="flex items-center gap-2 text-sm">
            <span class="w-4 h-2 block rounded-full bg-green-600"></span>
            <p>Major-Module</p>
        </span>
        <span class="flex items-center gap-2 text-sm">
            <span class="w-4 h-2 block rounded-full bg-purple-700"></span>
            <p>Anrechnung Berufstätigkeit</p>
        </span>
    </div>
</div>